.app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url(../../img/background.jpg) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;

	perspective: 900px;
}